<aside id="text-8" class="widget widget_text"><h3 class="widget-title">Blogroll</h3>
    <div class="textwidget">
        <ul>
            {% for lien in liens %}
                <li>
                    <a href="{{ lien.href }}" onclick="_gaq.push(['_trackEvent', 'outbound-widget', '{{ lien.href }}', '{{ lien.name }}']);" title="{{ lien.title }}" target="_blank">
                        {{ lien.name }}
                    </a>
                </li>
            {% endfor %}
            <li><a style="font-size: 0.65em;" href="mailto:admin@lenervee.com?subject=Demande de rajout à votre blogroll">Vous ici ?</a></li>
        </ul>
    </div>
</aside>