<aside id="testimonials_widget-3" class="widget Axl_Testimonials_Widget_Slider_Widget">
    <h3 class="widget-title">L’énervée dans la presse</h3>
    <div class="bx-wrapper" style="max-width: 100%; margin: 0px auto;">
        <div class="bx-viewport" aria-live="polite" style="width: 100%; height: 275px;">
            <ul class="bxslider">
                {% for article in articles %}
                <li>
                    <div>
                        <blockquote style="width: 90%;">{{ article.texte }}</blockquote>
                    </div>
                    <div class="credit" style="text-align: center">
                        {% if article.url %}
                        <a href="{{ article.url }}" rel="nofollow" target="_blank">
                            {{ article.titre }}
                        </a>
                        {% else %}
                            {{ article.titre }}
                        {% endif %}
                        <br/>
                        <small style="font-weight: 300">
                            par <u>{{ article.nom }}</u> dans <u>{{ article.entreprise }}</u> le {{ article.date|date('d/m/Y') }}
                        </small>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</aside>