<!DOCTYPE html>
<html lang="fr-FR" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">

<head>

    <meta charset="UTF-8">
    <title>
        {% set _block = block('title') %}
        {% if _block is not empty %}
            {{ _block|raw }} | L'énervée
        {% else %}
            L'énervée ‹ Avis d'une consommatrice
        {% endif %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">



    <meta name="description" content="L&#039;énervée, c&#039;est le blog satirique d&#039;une consommatrice acrimonieuse qui envoie ses lettres de réclamation aux services consommateurs des marques de la grande distribution pour faire connaître son insatisfaction (et un peu pour raconter sa vie)."/>
    {% block meta %}
    {% endblock %}
    <meta name="generator" content="Symfony2" />



    {% stylesheets
        '//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'
        'bundles/app/css/checkbox.css'
        'bundles/app/css/bootstrap.min.css'
        'bundles/app/css/facebook-widget.css'
        'bundles/app/css/cookie-notice.css'
        'bundles/app/css/jquery.bxslider.css'
        'bundles/app/css/main2.css'
        'bundles/app/css/main.css'
        'bundles/app/css/media.css'
        'bundles/app/css/plugins.css'
        'bundles/app/css/std-box.css'
        'bundles/app/css/sticky.css'
        'bundles/app/css/custom.css'
        'bundles/app/css/testimonials-widget.css'
        'bundles/app/css/widget-custom-field.css'
        'bundles/app/css/symfony.css'
    filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="all" />
    {% endstylesheets %}
    {% stylesheets 'bundles/app/css/media_first_breakpoint.css' %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="only screen and (max-width: 1120px)" />
    {% endstylesheets %}
    <link rel='stylesheet' id='open-sans-css' href='//fonts.googleapis.com/css?family=Open+Sans%3A300italic%2C400italic%2C600italic%2C300%2C400%2C600&#038;subset=latin%2Clatin-ext&#038;ver=4.2.1' type='text/css' media='all' />
    <link rel='stylesheet' id='google-fonts-css' href='http://fonts.googleapis.com/css?family=Noto+Serif%7CRoboto+Slab%3A300%2C400%2C700&#038;ver=4.2.1' type='text/css' media='all' />
    <link rel='stylesheet' id='add-google-fonts-css' href='http://fonts.googleapis.com/css?family=Montserrat%7CCrimson+Text%7COpen+Sans%7CJosefin+Sans%3A100%2C400%7CAmatic+SC&#038;ver=4.2.1' type='text/css' media='all' />
    <link rel="icon" type="image/png" href="http://lenervee.com/wp-content/uploads/2014/07/logo.png" />
    <link rel='shortcut icon' href='img/Logo-Mockup-3D-avec-fond-330x330.png'>

    <link rel="alternate" type="application/rss+xml" title="L&#039;énervée &raquo; Flux" href="http://lenervee.com/feed/" />
    <style type="text/css">
        .recentcomments a {
            display: inline !important;
            padding: 0 !important;
            margin: 0 !important;
        }
    </style>
    <style type="text/css">
        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    
    <style>
        @media only screen and (max-width: 1120px) {
            body.mobile-expand-menu #header #navigation {
                top: 32px
            }
        }
        @media screen and (max-width: 782px) {
            body.mobile-expand-menu #header #navigation {
                top: 46px
            }
        }

    </style>
    {% block css %}
    {% endblock %}

</head>

{#<body class="home blog no-customize-support bw-homepage">#}
<body class="">

<div id="peliegro-search">
    <div class="bw-table">
        <div class="bw-cell">
            <div class="row">
                <div class="bw-close">&#x2715;</div>
                <form role="search" method="get" class="search-form" action="{{ path('courrier_rechercher') }}">
                    <div>
                        <label class="screen-reader-text">Search for:</label>
                        <input type="text" class="search-field" value="" placeholder="Je vous écoute..." name="s" autocomplete="off" />
                        <button type="submit" class="search-submit"><i class="fa fa-search"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="wrapper">

    <div class="row">

        <header id="header" class="sticky">

            <div id="logo">
                <div class="bw-table">
                    <div class="bw-cell">
                        <a href="{{ path('courrier_index') }}">
                            {% if is_granted('ROLE_SUPER_ADMIN') %}
                                <img src="{{ asset('images/lenervee/Logo-Mockup-3D-330x330.png') }}" alt="L&#039;énervée">
                            {% else %}
                              <img src="{{ asset('images/lenervee/logo-330x330.png') }}" alt="L&#039;énervée">
                            {% endif %}
                        </a>
                        <h1>L&#039;énervée</h1><span id="logo-baseline">Avis d&#039;une consommatrice</span>
                    </div>
                </div>
            </div>
            <div class="social-holder">
                <ul class="social">
                    <li>
                        <a href="http://www.facebook.com/lenervee" target="_blank" title="Facebook">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a href="http://www.twitter.com/lenervee" target="_blank" title="Twitter">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('blog_feed') }}" target="_blank" title="Flux RSS">
                            <i class="fa fa-rss"></i>
                        </a>
                    </li>
                </ul>
                <span class="pad round"></span>
            </div>
            <div class="header-search">
                <i class="fa fa-search"></i>
            </div>

            <div id="logo-mobile">
                <a href="{{ path('courrier_index') }}">
                    <img src="{{ asset('images/lenervee/logo-330x330.png') }}" alt="L&#039;énervée">
                </a>
                <h1>L&#039;énervée</h1> ‹ <span id="logo-baseline-mobile">Avis d&#039;une consommatrice</span>
            </div>
            <div id="mobile-toggle"></div>

            <nav id="navigation" data-top="280">
                <div id="mobile-search">
                    <form role="search" method="get" class="search-form" action="{{ path('courrier_rechercher') }}">
                        <div>
                            <label class="screen-reader-text">Search for:</label>
                            <input type="text" class="search-field" value="" placeholder="Je vous écoute..." name="s" autocomplete="off" />
                            <button type="submit" class="search-submit"><i class="fa fa-search"></i>
                            </button>
                        </div>
                    </form>
                </div>
                {{ render(controller('AppBundle:Categorie:menu')) }}
                <div id="sticky-logo">
                    <a href="{{ path('courrier_index') }}">
                        <img src="{{ asset('images/lenervee/logo-330x330.png') }}" alt="sticky logo">
                    </a>
                </div>
            </nav>

        </header>

        <div id="container">
            {% block body %}
                <div id="content" class="right">
                    <div id="journal-wrapper" class="journal-wrap layout-right">

                        {% block courrier_heading %}
                            <div class="alt-heading">
                                <p class="heading-intro" style="color: #252525">L'énervée, c'est le blog satirique d'une consommatrice acrimonieuse qui envoie ses lettres de réclamation aux services consommateurs des marques de la grande distribution pour faire connaître son insatisfaction (et un peu pour raconter sa vie).</p>
                            </div>
                        {% endblock %}

                        {% block slider %}
                        {% endblock %}
                        <div id="{% block full_width %}{% endblock %}" class="journal-content">

                            {% block inner_body %}
                            {% endblock %}
                            <!-- // article -->

                            <span class="paging-space"></span>

                        </div>

                        {% block sidebar %}
                        <div id="sidebar" class="sticky">
                            <div class="sidebar-inner">
                                {{ render(controller('AppBundle:Widget:defaut', {template: 'rechercher'})) }}
                                {{ render(controller('AppBundle:Widget:reponses')) }}
                                {{ render(controller('AppBundle:Widget:statistiques')) }}
                                {{ render(controller('AppBundle:Widget:defaut', {template: 'facebook'})) }}
                                {{ render(controller('AppBundle:Widget:tags')) }}
                                {{ render(controller('AppBundle:Widget:defaut', {template: 'favoris'})) }}
                            </div>
                        </div>
                        {% endblock %}
                        <!-- #sidebar -->
                    </div>
                </div>
            {% endblock %}
            <!-- #content -->

            <div id="footer">

                <div class="footer-widgets">

                    <div class="bw-col">

                        {{ render(controller('AppBundle:Widget:populaires')) }}
                    </div>
                    <div class="bw-col">
                        {{ render(controller('AppBundle:Widget:blogroll')) }}


                        {{ render(controller('AppBundle:Widget:derniereReaction')) }}
                        <aside id="text-12" class="widget widget_text">
                            <div class="textwidget">
                                <ul class="footer-social">
                                    <li><a href="http://www.facebook.com/lenervee" onclick="_gaq.push(['_trackEvent', 'outbound-widget', 'http://www.facebook.com/lenervee', '']);" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="http://www.twitter.com/lenervee" onclick="_gaq.push(['_trackEvent', 'outbound-widget', 'http://www.twitter.com/lenervee', '']);" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="https://plus.google.com/105070587109513623665" onclick="_gaq.push(['_trackEvent', 'outbound-widget', 'https://plus.google.com/105070587109513623665', '']);" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="{{ path('blog_feed') }}" target="_blank"><i class="fa fa-rss"></i></a></li>
                                </ul>
                            </div>
                        </aside>
                    </div>
                    <div class="bw-col">
                        <aside id="text-8" class="widget widget_text"><h3 class="widget-title">Réseaux sociaux</h3>
                            <div class="textwidget">
                                <div class="fb-page" data-href="https://www.facebook.com/lenervee" data-width="300" data-hide-cover="false" data-show-facepile="false" data-show-posts="false"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/lenervee"><a href="https://www.facebook.com/lenervee">L&#039;énervée</a></blockquote></div></div>
                                <br/><br/>
                                <a href="https://twitter.com/lenervee" class="twitter-follow-button" data-show-count="true" data-lang="fr">Suivre @lenervee</a>
                                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                            </div>
                        </aside>

                        {{ render(controller('AppBundle:Widget:presse')) }}


                    </div>
                </div>

                <div class="top-bar" style="background-color:#364e6d">
                    <div class="row">
                        <span class="back-top round" style="background-color:#364e6d"></span>

                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                            <img src='{{ asset('images/lenervee/Logo-Mockup-3D-330x330.png') }}' alt='footer-logo'>
                        {% else %}
                            <img src='{{ asset('images/lenervee/logo-330x330.png') }}' alt='footer-logo'>
                        {% endif %}
                    </div>
                </div>

                <div class="bottom-bar">
                    <div class="row">
                        <p class="copyright-text">Droits d'auteurs © 2014-2015 — L'énervée.</p>
                        <div class="right-part-menu">
                            <div class="menu-en-plus-container">
                                <ul id="menu-en-plus" class="menu">
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-350">
                                        <a href="{{ path('blog_about') }}">A propos</a>
                                    </li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-350">
                                        <a href="{{ path('blog_mentions') }}">Mentions légales</a>
                                    </li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-350">
                                        <a href="{{ path('blog_contact') }}">Contactez-nous !</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- #container -->
    </div>
    <!-- .row -->
</div>
<!-- #wrapper -->
<div id="fb-root"></div>
<script type='text/javascript'>
    /* <![CDATA[ */
    var $DGD = {
        "ajaxurl": "http:\/\/lenervee.com\/wp-admin\/admin-ajax.php",
        "nonce": "562d46faa0",
        "debug": "1",
        "permalink": "http:\/\/lenervee.com\/exceptions\/ondamania-de-buki\/",
        "title": "Ondamania de Buki",
        "thumbnail": "http:\/\/lenervee.com\/wp-content\/uploads\/2015\/05\/ondamania.png",
        "scripthost": "http:\/\/lenervee.com\/wp-content\/plugins\/dreamgrow-scroll-triggered-box\/",
        "scrollboxes": []
    };
    /* ]]> */
</script>
<script type='text/javascript'>
    /* <![CDATA[ */
    var bw_options = {
        "themesurl": "",
        "ismobile": ""
    };
    /* ]]> */
</script>
{% javascripts
    '@AppBundle/Resources/public/js/jquery.js'
    '@AppBundle/Resources/public/js/jquery-migrate.min.js'
    '@AppBundle/Resources/public/js/jquery.sticky.js'
    '@AppBundle/Resources/public/js/modernizr.custom.js'
    '@AppBundle/Resources/public/js/comment-reply.min.js'
    '@AppBundle/Resources/public/js/tweenmax.min.js'
    '@AppBundle/Resources/public/js/lazy-loading.min.js'
    '@AppBundle/Resources/public/js/main.js'
    '@AppBundle/Resources/public/js/plugins.js'
    'https://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.5/shortcuts/infinite-scroll/waypoints-infinite.js'
    '@AppBundle/Resources/public/js/bootstrap.min.js'
    '@AppBundle/Resources/public/js/stickyMenu.js'
    '@AppBundle/Resources/public/js/symfony.js'
    '@AppBundle/Resources/public/js/jquery.bxslider.min.js'
output='js/compiled.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
<script>
    jQuery(function($) {
        $('body').tooltip({
            placement: 'top',
            container: 'body',
            selector: '[rel=tooltip]'
        });

        $('[rel=popover]').popover({
            trigger: 'hover',
            placement: 'top',
            html: true,
            container: 'body'
        });
    });
</script>

<script>
    jQuery(function($) {
        $('body').on('click', '#share-email', function(e) {
            var $this = $(this);
            $this.off('click');
            $.get('{{ path('blog_email') }}', function(html) {
                $this.popover({
                    content: html,
                    placement: 'bottom',
                    container: 'body',
                    html: true,
                    template: '<div class="popover" role="tooltip"><div class="arrow"></div><h3 class="popover-title"></h3><div class="popover-content" style="padding: 0"></div></div>'
                }).popover('show');
            });
        });

        $('body').on('keyup', '#email-share-form input', function(e) {
            $(this).css('background-color', 'white');
        });

        $('body').on('click', '#partager-submit', function(e) {
            e.preventDefault();

            var $form = $(this).closest('form');
            var data = {
                'senderName': $('#email-share-form-sender-name').val(),
                'senderEmail': $('#email-share-form-sender-email').val(),
                'friendEmail': $('#email-share-form-friend-email').val(),
            };

            $.ajax({
                url: '{{ path('blog_email_send') }}',
                method: 'post',
                data: data,
                success: function(r) {
                    var $div = $form.parent();
                    $form.fadeOut('slow', function() {
                        var $confirm = $('<h3/>')
                                .text('Votre email a été envoyé !')
                                .css({
                                    'line-height': '50px'
                                });
                        $div.html($confirm).hide().fadeIn('slow');
                    })
                },
                error: function(r) {
                    var retour = $.parseJSON(r.responseText);

                    if(retour['senderEmail'] == 'empty') {
                        var iSenderEmail = 0;
                        var blinkSenderEmail = window.setInterval(function() {
                            $('#email-share-form-sender-email').toggleClass('with-error');
                            iSenderEmail++;
                            console.log(iSenderEmail);
                            if(iSenderEmail > 9) {
                                clearInterval(blinkSenderEmail);
                            }
                        }, 250);
                    }

                    if(retour['senderName'] == 'empty') {
                        var iSenderName = 0;
                        var blinkSenderName = window.setInterval(function() {
                            $('#email-share-form-sender-name').toggleClass('with-error');
                            iSenderName++;
                            console.log(iSenderName);
                            if(iSenderName > 9) {
                                clearInterval(blinkSenderName);
                            }
                        }, 250);
                    }

                    if(retour['friendEmail'] == 'empty') {
                        var iFriendEmail = 0;
                        var blinkFriendEmail = window.setInterval(function() {
                            $('#email-share-form-friend-email').toggleClass('with-error');
                            iFriendEmail++;
                            console.log(iFriendEmail);
                            if(iFriendEmail > 9) {
                                clearInterval(blinkFriendEmail);
                            }
                        }, 250);
                    }
                }
            });
        });
    });
</script>
<script>
    jQuery(function($) {


        $('#contact_submit').on('click', function(e) {
            e.preventDefault();

            var data = {
                'contact': {
                    'prenom': $('#contact_prenom').val(),
                    'email': $('#contact_email').val(),
                    'message': $('#contact_message').val(),
                }
            }
                    , $this = $(this);
            $.ajax({
                url: '/',
                data: data,
                method: 'post',
                success: function(r) {
                    console.log(r);
                    if(r.status == 'nok') {
                        $this.addClass('submit-error').text('Revérifiez...').on('blur', function() {
                            $(this).removeClass('submit-error').text('Envoyer');
                        });
                    } else if(r.status == 'ok') {
                        $this.addClass('submit-success').text('Envoyé').attr('disabled', 'disabled');
                    }
                },
            });
        });

    });
</script>
{#<script type='text/javascript' src='js/jquery.js'></script>#}
{#<script type='text/javascript' src='js/jquery-migrate.min.js'></script>#}
{#<script type='text/javascript' src='js/std-box.js'></script>#}
<script type='text/javascript' src='//connect.facebook.net/fr_FR/all.js?ver=4.2.1#xfbml=1&#038;appId=1443946719181573'></script>
{#<script type='text/javascript' src='js/modernizr.custom.js'></script>#}
{#<script type='text/javascript' src='js/widget_custom_field_list_js.php'></script>#}
{#<script type='text/javascript' src='js/comment-reply.min.js'></script>#}
{#<script type='text/javascript' src='js/tweenmax.min.js'></script>#}
{#<script type='text/javascript' src='js/plugins.js'></script>#}
<script type='text/javascript' src='//maps.google.com/maps/api/js?sensor=false&#038;ver=1.0'></script>
<script>
    ! function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (!d.getElementById(id)) {
            js = d.createElement(s);
            js.id = id;
            js.src = "//platform.twitter.com/widgets.js";
            fjs.parentNode.insertBefore(js, fjs);
        }
    }(document, "script", "twitter-wjs");
</script>

<script>
    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.3&appId=624472404312502";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
<!-- /Code Inserter module -->

<!-- /SEO Ultimate -->

<script type="text/javascript">
    window._wpemojiSettings = {
        "baseUrl": "http:\/\/s.w.org\/images\/core\/emoji\/72x72\/",
        "ext": ".png",
        "source": {
            "concatemoji": "http:\/\/lenervee.com\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.2.1"
        }
    };
    ! function(a, b, c) {
        function d(a) {
            var c = b.createElement("canvas"),
                    d = c.getContext && c.getContext("2d");
            return d && d.fillText ? (d.textBaseline = "top", d.font = "600 32px Arial", "flag" === a ? (d.fillText(String.fromCharCode(55356, 56812, 55356, 56807), 0, 0), c.toDataURL().length > 3e3) : (d.fillText(String.fromCharCode(55357, 56835), 0, 0), 0 !== d.getImageData(16, 16, 1, 1).data[0])) : !1
        }

        function e(a) {
            var c = b.createElement("script");
            c.src = a, c.type = "text/javascript", b.getElementsByTagName("head")[0].appendChild(c)
        }
        var f;
        c.supports = {
            simple: d("simple"),
            flag: d("flag")
        }, c.supports.simple && c.supports.flag || (f = c.source || {}, f.concatemoji ? e(f.concatemoji) : f.wpemoji && f.twemoji && (e(f.twemoji), e(f.wpemoji)))
    }(window, document, window._wpemojiSettings);
</script>



<!-- This site uses the Google Analytics by Yoast plugin v5.4.2 - Universal disabled - https://yoast.com/wordpress/plugins/google-analytics/ -->
<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-50184381-1']);
    _gaq.push(['_gat._forceSSL']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();
</script>
<!-- / Google Analytics by Yoast -->

<script type="text/javascript">
    //<![CDATA[
    function customfieldlist_the_collapse_sign() {
        var signs = new Object();
        signs['minus'] = '[ - ]';
        signs['plus'] = '[ + ]';
        return signs;
    }

    function customfieldlist_effect_speed() {
        var speed = 'normal';
        return speed;
    }
    //]]>
</script>






<script>
    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&appId=1443946719181573&version=v2.0";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, "script", "facebook-jssdk"));
</script>
<div id="su-footer-links" style="text-align: center;"></div>

<script type='text/javascript'>
    /* <![CDATA[ */
    var addthis_config = {
        "ui_click": "",
        "ui_508_compliant": "",
        "ui_use_css": "1",
        "data_track_addressbar": "",
        "data_track_clickback": ""
    };
    var addthis_share = {
        "url": "http:\/\/lenervee.com\/exceptions\/ondamania-de-buki\/",
        "title": "Priv\u00e9\u00a0: Ondamania de Buki",
        "description": "L'\u00e9nerv\u00e9e fait partie de ceux qui aiment faire descendre les Ondamania dans les escaliers mais reste frustr\u00e9e par sa derni\u00e8re tentative."
    };
    /* ]]> */
</script>
<script type='text/javascript' src='//s7.addthis.com/js/300/addthis_widget.js?ver=1.0#pubid=ra-534b93e766f14c42'></script>
<script type='text/javascript'>
    /* <![CDATA[ */
    var bw_theme_ajax = {
        "ajax": "http:\/\/lenervee.com\/wp-admin\/admin-ajax.php",
        "nonce": "e9a44cd223"
    };
    /* ]]> */
</script>
<script type='text/javascript'>
    /* <![CDATA[ */
    var BJLL = {
        "threshold": "0"
    };
    /* ]]> */
</script>

<!--     ===== START Dreamgrow Scroll Triggered Box =====   -->

<!--     ===== END OF Dreamgrow Scroll Triggered Box =====   -->

<script type="text/javascript">
    (function() {
        var request, b = document.body,
                c = 'className',
                cs = 'customize-support',
                rcs = new RegExp('(^|\\s+)(no-)?' + cs + '(\\s+|$)');

        request = true;

        b[c] = b[c].replace(rcs, ' ');
        b[c] += (window.postMessage && request ? ' ' : ' no-') + cs;
    }());
</script>
{% block js %}
{% endblock %}
<div class="dgd_stb_box" id="dgd_scrollbox-1672"><a class="dgd_stb_box_close dgd_stb_box_x" href="javascript:void(0);"> </a><h3 style="font-size: 1.25em; margin-left: 20px;margin-bottom: 20px">Hey ! On se suit ?</h3>
    <p><a href="https://twitter.com/lenervee" class="twitter-follow-button" data-show-count="true" data-lang="fr">Suivre @lenervee</a><br />
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></p>
    <p><a class="twitter-timeline" data-chrome="noheader nofooter" href="https://twitter.com/lenervee" data-widget-id="461677761292013568" data-tweet-limit="1">Dernier tweet</a><br />
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></p>
    <div class="fb-like-box" data-href="https://www.facebook.com/lenervee" data-colorscheme="light" data-show-faces="false" data-header="false" data-stream="false" data-show-border="false"></div>
</div>
<div id="cookie-notice" class="cn-top" style="color: #555555; background-color: #f8f8f8;">
    <div class="cookie-notice-container"><span id="cn-notice-text">En continuant votre navigation sur ce site, vous acceptez l'utilisation des cookies.</span><a href="" id="cn-accept-cookie" class="button">Ok</a>
    </div>
</div>
</body>

</html>

<!-- Performance optimized by W3 Total Cache. Learn more: http://www.w3-edge.com/wordpress-plugins/

Page Caching using disk: enhanced (User is logged in)
Database Caching using disk (Request-wide User is logged in)

 Served from: lenervee.com @ 2015-05-05 19:36:10 by W3 Total Cache -->
