<!DOCTYPE html>
<html lang="fr-FR" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">

<head>

    <meta charset="UTF-8">
    <title>
        {% set _block = block('title') %}
        {% if _block is not empty %}
            {{ _block|raw }} | L'énervée
        {% else %}
            L'énervée ‹ Avis d'une consommatrice
        {% endif %}
    </title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    {% block meta %}
    {% endblock %}

    {% stylesheets
        '//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'
        'bundles/app/css/checkbox.css'
        'bundles/app/css/bootstrap.min.css'
        'bundles/app/css/facebook-widget.css'
        'bundles/app/css/cookie-notice.css'
        'bundles/app/css/jquery.bxslider.css'
        'bundles/app/css/main2.css'
        'bundles/app/css/main.css'
        'bundles/app/css/media.css'
        'bundles/app/css/plugins.css'
        'bundles/app/css/std-box.css'
        'bundles/app/css/sticky.css'
        'bundles/app/css/custom.css'
        'bundles/app/css/testimonials-widget.css'
        'bundles/app/css/widget-custom-field.css'
        'bundles/app/css/symfony.css'
    filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="all" />
    {% endstylesheets %}
    {% stylesheets 'bundles/app/css/media_first_breakpoint.css' %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="only screen and (max-width: 1120px)" />
    {% endstylesheets %}
    <link rel='stylesheet' id='open-sans-css' href='//fonts.googleapis.com/css?family=Open+Sans%3A300italic%2C400italic%2C600italic%2C300%2C400%2C600&#038;subset=latin%2Clatin-ext&#038;ver=4.2.1' type='text/css' media='all' />
    <link rel='stylesheet' id='google-fonts-css' href='http://fonts.googleapis.com/css?family=Noto+Serif%7CRoboto+Slab%3A300%2C400%2C700&#038;ver=4.2.1' type='text/css' media='all' />
    <link rel='stylesheet' id='add-google-fonts-css' href='http://fonts.googleapis.com/css?family=Montserrat%7CCrimson+Text%7COpen+Sans%7CJosefin+Sans%3A100%2C400%7CAmatic+SC&#038;ver=4.2.1' type='text/css' media='all' />
    <link rel="icon" type="image/png" href="{{ asset('images/lenervee/logo-330x330.png') }}" />
    <link rel='shortcut icon' href='{{ asset('images/lenervee/logo-330x330.png') }}'>

    <link rel="alternate" type="application/rss+xml" title="L&#039;énervée &raquo; Flux" href="{{ path('blog_feed') }}" />
    <style type="text/css">
        .recentcomments a {
            display: inline !important;
            padding: 0 !important;
            margin: 0 !important;
        }
    </style>
    {% block css %}
    {% endblock %}

</head>

{#<body class="home blog no-customize-support bw-homepage">#}
<body class="">

<div id="peliegro-search">
    <div class="bw-table">
        <div class="bw-cell">
            <div class="row">
                <div class="bw-close">&#x2715;</div>
                <form role="search" method="get" class="search-form" action="{{ path('courrier_rechercher') }}">
                    <div>
                        <label class="screen-reader-text">Search for:</label>
                        <input type="text" class="search-field" value="" placeholder="Je vous écoute..." name="s" autocomplete="off" />
                        <button type="submit" class="search-submit"><i class="fa fa-search"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="wrapper">

    <div class="row">

        <header id="header" class="sticky">

            <div id="logo">
                <div class="bw-table">
                    <div class="bw-cell">
                        <a href="{{ path('courrier_index') }}">
                            {% if is_granted('ROLE_SUPER_ADMIN') %}
                                <img src='{{ asset('images/lenervee/logo-red.png') }}'>
                            {% else %}
                                <img src='{{ asset('images/lenervee/Logo-Mockup-3D-330x330.png') }}'>
                            {% endif %}
                        </a>
                        <h1>L&#039;énervée</h1><span id="logo-baseline">Avis d&#039;une consommatrice</span>
                    </div>
                </div>
            </div>
            <div class="social-holder">
                <ul class="social">
                    <li>
                        <a href="http://www.facebook.com/lenervee" target="_blank" title="Facebook">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a href="http://www.twitter.com/lenervee" target="_blank" title="Twitter">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('blog_feed') }}" target="_blank" title="Flux RSS">
                            <i class="fa fa-rss"></i>
                        </a>
                    </li>
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <li>
                            <a href="{{ path('admin_index_index') }}" title="Back Office">
                                <i class="fa fa-lock"></i>
                            </a>
                        </li>
                    {% endif %}
                </ul>
                <span class="pad round"></span>
            </div>
            <div class="header-search">
                <i class="fa fa-search"></i>
            </div>

            <div id="logo-mobile">
                <a href="{{ path('courrier_index') }}">
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <img src='{{ asset('images/lenervee/logo-red.png') }}'>
                    {% else %}
                        <img src='{{ asset('images/lenervee/Logo-Mockup-3D-330x330.png') }}'>
                    {% endif %}
                </a>
                <h1>L&#039;énervée</h1> ‹ <span id="logo-baseline-mobile">Avis d&#039;une consommatrice</span>
            </div>
            <div id="mobile-toggle"></div>

            <nav id="navigation" data-top="280">
                <div id="mobile-search">
                    <form role="search" method="get" class="search-form" action="{{ path('courrier_rechercher') }}">
                        <div>
                            <label class="screen-reader-text">Search for:</label>
                            <input type="text" class="search-field" value="" placeholder="Je vous écoute..." name="s" autocomplete="off" />
                            <button type="submit" class="search-submit"><i class="fa fa-search"></i>
                            </button>
                        </div>
                    </form>
                </div>
                {{ render(controller('AppBundle:Categorie:menu')) }}
                <div id="sticky-logo">
                    <a href="{{ path('courrier_index') }}">
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                            <img src='{{ asset('images/lenervee/logo-red.png') }}' alt='sticky-logo'>
                        {% else %}
                            <img src='{{ asset('images/lenervee/Logo-Mockup-3D-330x330.png') }}' alt='sticky-logo'>
                        {% endif %}
                    </a>
                </div>
            </nav>

        </header>

        <div id="container">
            {% block body %}
                <div id="content" class="right">
                    <div id="journal-wrapper" class="journal-wrap layout-right">

                        {% block courrier_heading %}
                            <div class="alt-heading">
                                <p class="heading-intro" style="color: #252525">L'énervée, c'est le blog satirique d'une consommatrice acrimonieuse qui envoie ses lettres de réclamation aux services consommateurs des marques de la grande distribution pour faire connaître son insatisfaction (et un peu pour raconter sa vie).</p>
                            </div>
                        {% endblock %}

                        {% block slider %}
                        {% endblock %}
                        <div id="{% block full_width %}{% endblock %}" class="journal-content">

                            {% block inner_body %}
                            {% endblock %}
                            <!-- // article -->

                            <span class="paging-space"></span>

                        </div>

                        {% block sidebar %}
                        <div id="sidebar" class="sticky-wrapper">
                            <div class="sidebar-inner">
                                {{ render(controller('AppBundle:Widget:defaut', {template: 'rechercher'})) }}
                                {{ render(controller('AppBundle:Widget:reponses')) }}
                                {{ render(controller('AppBundle:Widget:statistiques')) }}
                                {{ render(controller('AppBundle:Widget:defaut', {template: 'facebook'})) }}
                                {{ render(controller('AppBundle:Widget:tags')) }}
                                {{ render(controller('AppBundle:Widget:defaut', {template: 'favoris'})) }}
                            </div>
                        </div>
                        {% endblock %}
                        <!-- #sidebar -->
                    </div>
                </div>
            {% endblock %}
            <!-- #content -->

            <div id="footer">

                <div class="footer-widgets">

                    <div class="bw-col">

                        {{ render(controller('AppBundle:Widget:populaires')) }}
                    </div>
                    <div class="bw-col">
                        {{ render(controller('AppBundle:Widget:blogroll')) }}


                        {{ render(controller('AppBundle:Widget:derniereReaction')) }}
                        <aside id="text-12" class="widget widget_text">
                            <div class="textwidget">
                                <ul class="footer-social">
                                    <li><a href="http://www.facebook.com/lenervee" onclick="_gaq.push(['_trackEvent', 'outbound-widget', 'http://www.facebook.com/lenervee', '']);" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="http://www.twitter.com/lenervee" onclick="_gaq.push(['_trackEvent', 'outbound-widget', 'http://www.twitter.com/lenervee', '']);" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="https://plus.google.com/105070587109513623665" onclick="_gaq.push(['_trackEvent', 'outbound-widget', 'https://plus.google.com/105070587109513623665', '']);" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="{{ path('blog_feed') }}" target="_blank"><i class="fa fa-rss"></i></a></li>
                                </ul>
                            </div>
                        </aside>
                    </div>
                    <div class="bw-col">
                        <aside id="text-8" class="widget widget_text"><h3 class="widget-title">Réseaux sociaux</h3>
                            <div class="textwidget">
                                <div class="fb-page" data-href="https://www.facebook.com/lenervee" data-width="300" data-hide-cover="false" data-show-facepile="false" data-show-posts="false"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/lenervee"><a href="https://www.facebook.com/lenervee">L&#039;énervée</a></blockquote></div></div>
                                <br/><br/>
                                <a href="https://twitter.com/lenervee" class="twitter-follow-button" data-show-count="true" data-lang="fr">Suivre @lenervee</a>
                                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                            </div>
                        </aside>

                        {{ render(controller('AppBundle:Widget:presse')) }}


                    </div>
                </div>

                <div class="top-bar" style="background-color:#364e6d">
                    <div class="row">
                        <span class="back-top round" style="background-color:#364e6d"></span>

                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                            <img src='{{ asset('images/lenervee/logo-red.png') }}' alt='footer-logo'>
                        {% else %}
                            <img src='{{ asset('images/lenervee/Logo-Mockup-3D-330x330.png') }}' alt='footer-logo'>
                        {% endif %}
                    </div>
                </div>

                <div class="bottom-bar">
                    <div class="row">
                        <p class="copyright-text">Droits d'auteurs © 2014-{{ 'now'|date('Y') }} — L'énervée.</p>
                        <div class="right-part-menu">
                            <div class="menu-en-plus-container">
                                <ul id="menu-en-plus" class="menu">
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-350">
                                        <a href="{{ path('blog_about') }}">A propos</a>
                                    </li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-350">
                                        <a href="{{ path('blog_mentions') }}">Mentions légales</a>
                                    </li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-350">
                                        <a href="{{ path('blog_contact') }}">Contactez-nous !</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- #container -->
    </div>
    <!-- .row -->
</div>
<script type='text/javascript'>
    /* <![CDATA[ */
    var bw_options = {
        "themesurl": "",
        "ismobile": ""
    };
    /* ]]> */
</script>
<!-- #wrapper -->
{% javascripts
    '@AppBundle/Resources/public/js/jquery.js'
    '@AppBundle/Resources/public/js/jquery-migrate.min.js'
    '@AppBundle/Resources/public/js/jquery.sticky.js'
    '@AppBundle/Resources/public/js/modernizr.custom.js'
    '@AppBundle/Resources/public/js/comment-reply.min.js'
    '@AppBundle/Resources/public/js/tweenmax.min.js'
    '@AppBundle/Resources/public/js/lazy-loading.min.js'
    '@AppBundle/Resources/public/js/main.js'
    '@AppBundle/Resources/public/js/plugins.js'
    'https://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.5/shortcuts/infinite-scroll/waypoints-infinite.js'
    '@AppBundle/Resources/public/js/bootstrap.min.js'
    '@AppBundle/Resources/public/js/symfony.js'
    '@AppBundle/Resources/public/js/jquery.bxslider.min.js'
    '@AppBundle/Resources/public/js/hcSticky.min.js'
output='js/compiled.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
<script>
    function isMobile() {
        try{ document.createEvent("TouchEvent"); return true; }
        catch(e){ return false; }
    }

    jQuery(function($) {
        if(!isMobile()) {

            $('body').tooltip({
                placement: 'top',
                container: 'body',
                selector: '[rel=tooltip]'
            });

            $('[rel=popover]').popover({
                trigger: 'hover',
                placement: 'top',
                html: true,
                container: 'body'
            });

            $('#sidebar').hcSticky({
                bottomEnd: 200,
                top: 70,
            });

        } else {

            $('#cn-accept-cookie, #cn-know-more').css('width', '45%');
            $('#cn-notice-text').css('font-size', '0.85em');
            $('html, body').css('overflow-x', 'hidden');
            $('body').css('position', 'relative');

        }


    });
</script>

<script>

    document.onreadystatechange = function() {
        if($(window).width() < 768) {
            var width = $('#text-2').width() - 20;
            $('#text-2').find('.fb-page').attr({
                'data-width': width,
                'data-tabs': 'timeline, messages',
            });
        }
    };

    jQuery(function($) {



        /**
         * Chargement de la popup de partage par email
         */
        $('body').on('click', '#share-email', function(e) {
            var $this = $(this);
            $this.off('click');
            $.get('{{ path('blog_email') }}', {courrier: $this.data('courrier')}, function(html) {
                $this.popover({
                    content: html,
                    placement: 'bottom',
                    container: 'body',
                    html: true,
                    template: '<div class="popover" role="tooltip"><div class="arrow"></div><h3 class="popover-title"></h3><div class="popover-content" style="padding: 0"></div></div>'
                }).popover('show');
            });
        });

        /**
         * Reset de la couleur du fond des champs
         */
        $('body').on('keyup', '#email-share-form input', function(e) {
            $(this).css('background-color', 'white');
        });

        /**
         * Envoi du formulaire de partage par email
         */
        $('body').on('click', '#partager-submit', function(e) {
            e.preventDefault();

            var $form = $(this).closest('form');
            var data = {
                'senderName': $('#email-share-form-sender-name').val(),
                'senderEmail': $('#email-share-form-sender-email').val(),
                'friendEmail': $('#email-share-form-friend-email').val(),
                'id': $(this).data('courrier'),
            };

            $.ajax({
                url: '{{ path('blog_email_send') }}',
                method: 'post',
                data: data,
                success: function(r) {
                    var $div = $form.parent();
                    $form.fadeOut('slow', function() {
                        var $confirm = $('<h3/>')
                                .text('Votre email a été envoyé !')
                                .css({
                                    'line-height': '50px'
                                });
                        $div.html($confirm).hide().fadeIn('slow');
                    })
                },
                error: function(r) {
                    var retour = $.parseJSON(r.responseText);

                    if(retour['senderEmail'] == 'empty') {
                        var iSenderEmail = 0;
                        var blinkSenderEmail = window.setInterval(function() {
                            $('#email-share-form-sender-email').toggleClass('with-error');
                            iSenderEmail++;
                            console.log(iSenderEmail);
                            if(iSenderEmail > 9) {
                                clearInterval(blinkSenderEmail);
                            }
                        }, 250);
                    }

                    if(retour['senderName'] == 'empty') {
                        var iSenderName = 0;
                        var blinkSenderName = window.setInterval(function() {
                            $('#email-share-form-sender-name').toggleClass('with-error');
                            iSenderName++;
                            console.log(iSenderName);
                            if(iSenderName > 9) {
                                clearInterval(blinkSenderName);
                            }
                        }, 250);
                    }

                    if(retour['friendEmail'] == 'empty') {
                        var iFriendEmail = 0;
                        var blinkFriendEmail = window.setInterval(function() {
                            $('#email-share-form-friend-email').toggleClass('with-error');
                            iFriendEmail++;
                            console.log(iFriendEmail);
                            if(iFriendEmail > 9) {
                                clearInterval(blinkFriendEmail);
                            }
                        }, 250);
                    }
                }
            });
        });

        $('#cn-accept-cookie').on('click', function() {
            $.get('{{ path('blog_cookie_accept') }}', function() {
                $('#cookie-notice').fadeOut(2000);
            });
        });
    });
</script>
<script type="text/javascript">
    /**
     * Smartlook
     */
    window.smartlook||(function(d) {
        var o=smartlook=function(){ o.api.push(arguments)},s=d.getElementsByTagName('script')[0];
        var c=d.createElement('script');o.api=new Array();c.async=true;c.type='text/javascript';
        c.charset='utf-8';c.src='//rec.getsmartlook.com/bundle.js';s.parentNode.insertBefore(c,s);
    })(document);
    smartlook('init', 'ada831cb3a9b2890e39bc2385e9da94c0e677252');
</script>
<script>
    /**
     * Twitter social plugin
     */
    ! function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (!d.getElementById(id)) {
            js = d.createElement(s);
            js.id = id;
            js.src = "//platform.twitter.com/widgets.js";
            fjs.parentNode.insertBefore(js, fjs);
        }
    }(document, "script", "twitter-wjs");
</script>
<script type="text/javascript">
    /**
     * Google Analytics plugin
     */
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-50184381-1']);
    _gaq.push(['_gat._forceSSL']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();
</script>
<div id="fb-root"></div>
<script>
    /**
     * Facebook social plugin
     */
    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.6&appId=624472404312502";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
<div id="su-footer-links" style="text-align: center;"></div>
{% block js %}
{% endblock %}
<div class="dgd_stb_box" id="dgd_scrollbox-1672" style="z-index: 100002;">
    <a class="dgd_stb_box_close dgd_stb_box_x" href="javascript:;"> </a>
    <h3 style="font-size: 1.25em; margin-left: 20px;margin-bottom: 20px">Hey ! On se suit ?</h3>
    <p>
        <a href="https://twitter.com/lenervee" class="twitter-follow-button" data-show-count="true" data-lang="fr">Suivre @lenervee</a>
        <br />
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </p>
    <p>
        <a class="twitter-timeline" data-chrome="noheader nofooter" href="https://twitter.com/lenervee" data-widget-id="461677761292013568" data-tweet-limit="1">Dernier tweet</a>
        <br />
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </p>
    <div class="fb-page" data-href="https://www.facebook.com/lenervee/" data-width="277" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/lenervee/"><a href="https://www.facebook.com/lenervee/">L&#039;énervée</a></blockquote></div></div>
</div>
{% if app.request.cookies.get('cookie_notice') != 1 %}
<div id="cookie-notice" class="cn-bottom" style="color: #555555; background-color: #f8f8f8;">
    <div class="cookie-notice-container">
        <span id="cn-notice-text">En continuant votre navigation sur ce site, vous acceptez l'utilisation des cookies.</span>
        <br/>
        <a href="#" id="cn-accept-cookie" class="button">Ok</a>
        <a href="{{ path('blog_cookie_know') }}" id="cn-know-more" class="button">En savoir plus</a>
    </div>
</div>
{% endif %}
</body>

</html>