<html>
<head>
    <style>
        @import url(http://fonts.googleapis.com/css?family=Noto+Serif%7CRoboto+Slab%3A300%2C400%2C700);
        @import url(http://fonts.googleapis.com/css?family=Montserrat%7CCrimson+Text%7COpen+Sans%7CJosefin+Sans%3A100%2C400%7CAmatic+SC)
        body {
            color: #252525;
            margin: 0;
            padding: 0;
        }
        @media screen { /* hides this rule from unsupported clients */
            .roboto-slab {
                font-family: "Roboto Slab", arial, sans-serif !important;
            }

            .noto-sans {
                font-family: "Noto Sans", arial, sans-serif !important;
            }

            .josefin-sans {
                font-family: "Josefin Sans", arial, sans-serif !important;
            }

        }
        table {
            border: 0;
        }

        td {
            border-bottom: 1px solid #d4d4d4;
            text-align: center;
            font-size: 2em;
        }

        #header {
            background-image: url('{{ absolute_url(asset('img/crumpled-white-paper-texture-melemel-jpeg_260159.jpg')) }}');
            border-bottom: 1px solid #D4D4D4;
            text-align: center;
            -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.08);
            -moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.08);
            box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.08);
        }

        #header > img {
            max-height: 200px;
            max-width: 200px;
        }

        #intro {
            text-align: center;
            padding: 40px 0;
            color: #252525;
            background-color: #f9f9f9;
        }

        #courrier-title > span#title {
            font-family: 'Roboto Slab';
            font-size: 3em;
            min-height: 250px;
        }

        p {
            margin-bottom: 50px;
        }

        #lenervee {
            text-align: center;
            font-style: italic;
            padding: 25px;
            color: #404040;
            font-size: 1.25em;
        }
    </style>
</head>
<body>
    <table width="100%" cellspacing="0" cellpadding="0">
        <tbody>
            <tr>
                <td id="header" style="">
                    <img src="{{ absolute_url(asset('images/lenervee/logo-330x330.png')) }}"/>
                </td>
            </tr>
        <tr>
            <td id="intro" class="noto-sans">
                <strong>{{ sender_name }}</strong>, que vous connaissez bien (ou pas), vous conseille la lecture
                {% if courrier.reponse is not null %}
                    d'un échange avec
                {% else %}
                    d'un courrier envoyé à
                {% endif %}
                une grande marque sur le blog de L'énervée :
                <br/>
                <a href="{{ url('courrier_voir', {slugCategorie: courrier.categorie.slug, slugCourrier: courrier.slug}) }}" target="_blank">
                    {{ url('courrier_voir', {slugCategorie: courrier.categorie.slug, slugCourrier: courrier.slug}) }}
                </a>
            </td>
        </tr>
        <tr>
            <td id="courrier-title">
                <span id="title" class="roboto-slab">{{ courrier.name }}</span>
                <br/>
                <a href="{{ url('courrier_voir', {slugCategorie: courrier.categorie.slug, slugCourrier: courrier.slug}) }}" target="_blank">
                    <img src="{{ absolute_url(asset(courrier.image)) }}"/>
                </a>
                <p class="noto-sans">{{ courrier.intro }}</p>
            </td>
        </tr>
        <tr>
            <td id="lenervee" class="josefin-sans">
                L'énervée, c'est le blog satirique d'une consommatrice acrimonieuse qui envoie ses lettres de réclamation aux services consommateurs des marques de la grande distribution pour faire connaître son insatisfaction (et un peu pour raconter sa vie).
            </td>
        </tr>
        </tbody>
    </table>
</body>
</html>