<!DOCTYPE html>
<!--
Template Name: Metronic - Responsive Admin Dashboard Template build with Twitter Bootstrap 3.3.6
Version: 4.5.6
Author: KeenThemes
Website: http://www.keenthemes.com/
Contact: support@keenthemes.com
Follow: www.twitter.com/keenthemes
Dribbble: www.dribbble.com/keenthemes
Like: www.facebook.com/keenthemes
Purchase: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes
Renew Support: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes
License: You must have a valid license purchased only from themeforest(the above link) in order to legally use the theme for your project.
-->
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->

<head>
    <meta charset="utf-8" />
    <title>Back-Office | L'énervée</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    {% stylesheets
        'bundles/app/admin/global/plugins/font-awesome/css/font-awesome.min.css'
        'bundles/app/admin/global/plugins/simple-line-icons/simple-line-icons.min.css'
        'bundles/app/admin/global/plugins/bootstrap/css/bootstrap.min.css'
        'bundles/app/admin/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css'
        'bundles/app/admin/global/plugins/bootstrap-daterangepicker/daterangepicker.min.css'
        'bundles/app/admin/global/plugins/morris/morris.css'
        'bundles/app/admin/global/plugins/fullcalendar/fullcalendar.min.css'
        'bundles/app/admin/global/plugins/jqvmap/jqvmap/jqvmap.css'
        'bundles/app/admin/global/plugins/pace/themes/pace-theme-flash.css'
        'bundles/app/admin/global/css/components-md.min.css'
        'bundles/app/admin/global/css/plugins-md.min.css'
        'bundles/app/admin/layouts/layout/css/layout.min.css'
        'bundles/app/admin/layouts/layout/css/themes/darkblue.min.css'
        'bundles/app/admin/layouts/layout/css/custom.min.css'
        'bundles/app/admin/layouts/layout/css/main.css'
    filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="all" />
    {% endstylesheets %}
    {% block css %}
    {% endblock %}

    </head>

<body class="page-header-fixed page-sidebar-closed-hide-logo page-content-white page-md">
<!-- BEGIN HEADER -->
{{ render(controller('AppBundle:Admin/Admin:header')) }}
<!-- END HEADER -->
<!-- BEGIN HEADER & CONTENT DIVIDER -->
<div class="clearfix"> </div>
<!-- END HEADER & CONTENT DIVIDER -->
<!-- BEGIN CONTAINER -->
<div class="page-container">
    <!-- BEGIN SIDEBAR -->
    {{ render(controller('AppBundle:Admin/Admin:sidebar')) }}
    <!-- END SIDEBAR -->
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <!-- BEGIN CONTENT BODY -->
        <div class="page-content">
            <!-- BEGIN PAGE HEADER-->
            <!-- BEGIN THEME PANEL -->
            {% block body %}
            {% endblock %}
        </div>
        <!-- END CONTENT BODY -->
    </div>
    <!-- END CONTENT -->
    <!-- BEGIN QUICK SIDEBAR -->
    <a href="javascript:;" class="page-quick-sidebar-toggler">
        <i class="icon-login"></i>
    </a>
    {{ render(controller('AppBundle:Admin/Admin:quickSidebar')) }}
    <!-- END QUICK SIDEBAR -->
</div>
<!-- END CONTAINER -->
<!-- BEGIN FOOTER -->
<div class="page-footer">
    <div class="page-footer-inner"> 2014 &copy; Metronic by keenthemes.
        <a href="http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes" title="Purchase Metronic just for 27$ and get lifetime updates for free" target="_blank">Purchase Metronic!</a>
    </div>
    <div class="scroll-to-top">
        <i class="icon-arrow-up"></i>
    </div>
</div>
<!-- END FOOTER -->
<!--[if lt IE 9]>
<script src="{{ asset('admin/global/plugins/respond.min.js') }}"></script>
<script src="{{ asset('admin/global/plugins/excanvas.min.js') }}"></script>
<![endif]-->
<!-- BEGIN CORE PLUGINS -->
{% javascripts
'@AppBundle/Resources/public/admin/global/plugins/jquery.min.js'
'@AppBundle/Resources/public/admin/global/plugins/bootstrap/js/bootstrap.min.js'
'@AppBundle/Resources/public/admin/global/plugins/js.cookie.min.js'
'@AppBundle/Resources/public/admin/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js'
'@AppBundle/Resources/public/admin/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js'
'@AppBundle/Resources/public/admin/global/plugins/jquery.blockui.min.js'
'@AppBundle/Resources/public/admin/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js'
'@AppBundle/Resources/public/admin/global/plugins/pace/pace.min.js'
'@AppBundle/Resources/public/admin/global/scripts/app.min.js'
'@AppBundle/Resources/public/admin/layouts/layout/scripts/layout.min.js'
'@AppBundle/Resources/public/admin/layouts/layout/scripts/demo.min.js'
'@AppBundle/Resources/public/admin/layouts/global/scripts/quick-sidebar.min.js'
'@AppBundle/Resources/public/admin/pages/scripts/ui-idletimer.js'
'@AppBundle/Resources/public/admin/pages/scripts/ui-idletimeout.js'
output='js/admin/compiled.js'%}
<script src="{{ asset_url }}" type="text/javascript"></script>
{% endjavascripts %}
{% block js %}
{% endblock %}
<script>
    jQuery(function($) {
        $('body').tooltip({
            selector: '[rel=tooltip]',
            placement: 'top',
        });

        $('#opcache-reset').on('switchChange.bootstrapSwitch', function() {
            var $input = $(this);

            $.ajax({
                method: 'post',
                url: '{{ path('admin_admin_opcacheReset') }}',
                beforeSend: function() {
                    $('.bootstrap-switch-handle-off').html('<i class="fa fa-cog fa-spin fa-fw"></i>');
                },
                complete: function() {
                    $input
                        .bootstrapSwitch('toggleState', true)
                        .bootstrapSwitch('toggleDisabled')
                    ;

                    $('.bootstrap-switch-handle-on')
                        .removeClass('bootstrap-switch-danger')
                        .addClass('bootstrap-switch-success')
                        .html('<i class="fa fa-check"></i>')
                    ;
                },
            });

        });

        {#var secondsBeforeTimeout = 30;#}
        {#$.idleTimeout('.modal', '.modal button.dark', {#}
            {#warningLength: secondsBeforeTimeout,#}
            {#idleAfter: 600,#}
            {#pollingInterval: 60,#}
            {#keepAliveURL: '{{ path('admin_admin_idle') }}',#}
            {#serverResponseEquals: 'OK',#}
            {#titleMessage: '/!\\ %s secondes avant déconnexion /!\\',#}
            {#onTimeout: function(){#}
                {#$('#dialog').modal('close');#}
            {#},#}
            {#onIdle: function(){#}
                {#$.get('{{ path('admin_admin_modal') }}', {#}
                    {#type: 'idle',#}
                    {#message: 'Vous allez être déconnecté de votre session dans <strong>' + secondsBeforeTimeout + '</strong> secondes.'#}
                {#}, function(modal) {#}
                    {#$(modal).modal({#}
                        {#backdrop: 'static',#}
                        {#keyboard: false#}
                    {#});#}
                {#});#}
            {#},#}
            {#onCountdown: function(counter){#}
                {#$('.modal').find('.modal-body').find('strong').html(counter);#}
            {#}#}
        {#});#}
    });
</script>
</body>

</html>