{% extends '::base.html.twig' %}

{% block title %}
    {{ courrier.name }}
{% endblock %}

{% block meta %}
    {{ render(controller('AppBundle:Blog:meta', {courrier: courrier})) }}
{% endblock %}

{% block recaptcha %}
    <script src="https://www.google.com/recaptcha/api.js"></script>
{% endblock %}

{% block courrier_heading %}
    <div class="post-heading inner text-center">

        <!-- prev -->
        {% if prev_courrier is not empty %}
            <div class="bw-ta ta-prev">
                <div class="bw-table">
                    <div class="bw-cell">
                        <ul class="post-categories"><li><a href="{{ path('categorie_voir', {slug: prev_courrier.categorie.slug}) }}" rel="category tag">{{ prev_courrier.categorie.name }}</a></li></ul>                        <h2 class="post-title">{{ prev_courrier.name }}</h2>
                        <div class="sub-info is-single">
                            <div class="sub-content">
                                <span>{{ prev_courrier.intro }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

        <!-- next -->
        {% if next_courrier is not empty %}
            <div class="bw-ta ta-next">
                <div class="bw-table">
                    <div class="bw-cell">
                        <ul class="post-categories"><li><a href="{{ path('categorie_voir', {slug: next_courrier.categorie.slug}) }}" rel="category tag">{{ next_courrier.categorie.name }}</a></li></ul>
                        <h2 class="post-title">{{ next_courrier.name }}</h2>
                        <div class="sub-info is-single">
                            <div class="sub-content">
                                <span>{{ next_courrier.intro }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

        <!-- current -->
        <div class="bw-current">
            <div class="bw-table">
                <div class="bw-cell">
                    <ul class="post-categories">
                        <li><a href="{{ path('categorie_voir', {slug: courrier.categorie.slug}) }}" rel="category tag">{{ courrier.categorie.name }}</a>
                        </li>
                    </ul>
                    <h2 class="post-title">
                        {{ courrier.name }}
                    </h2>
                    <div class="sub-info is-single">
                        <div class="sub-content">
                            <span>{{ courrier.intro }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- post heading navigation -->
        {% if prev_courrier is not empty %}
            <a href="{{ path('courrier_voir', {slugCategorie: prev_courrier.categorie.slug, slugCourrier: prev_courrier.slug}) }}" class="post-heading-nav nav-prev round">
                <div class="ph-image" style="background-image: url('{{ asset(prev_courrier.image) }}');">
                    &nbsp;
                </div>
            </a>
        {% else %}
            <span class="post-heading-nav nav-prev round disabled"></span>
        {% endif %}

        {% if next_courrier is not empty %}
            <a href="{{ path('courrier_voir', {slugCategorie: next_courrier.categorie.slug, slugCourrier: next_courrier.slug}) }}" class="post-heading-nav nav-next round">
                <div class="ph-image" style="background-image: url('{{ asset(next_courrier.image) }}');">
                    &nbsp;
                </div>
            </a>
        {% else %}
            <span class="post-heading-nav nav-next round disabled"></span>
        {% endif %}

    </div> <!-- // post-heading -->
{% endblock %}

{% block inner_body %}

    <article id="post-249" class="post bw-single-post single post-249 type-post status-publish format-standard has-post-thumbnail hentry category-deceptions tag-beurre tag-casser tag-confiture tag-cracotte tag-lu tag-tartiner">

    <div class="post-featured bw-border-bottom">

        <img src="{{ asset(courrier.image) }}" class="attachment-bw_1100 wp-post-image" alt="{{ courrier.name }}" />
    </div>

    <div class="post-excerpt relative bw-border-bottom">
        <blockquote>
            {{ courrier.courrier|raw }}
        </blockquote>
    </div>

    <div class="post-excerpt relative bw-border-bottom">
        {% if courrier.reponse is not empty %}
            <blockquote class="reponse" style="margin-bottom: 10px;">
                {{ courrier.reponse|raw }}
            </blockquote>
        {% else %}
            <p style="font-style: italic; text-align: center">L'énervée est en attente de sa réponse</p>
        {% endif %}

        <div class="post-categories" style="text-align: center;margin-bottom: 25px;">
            {% for tag in courrier.tags %}
                <a href="{{ path('tag_voir', {slug: tag.slug}) }}" rel="tag">{{ tag.name|lower }}</a>
            {% endfor %}
        </div>

        {{ render(controller('AppBundle:Blog:partage', {courrier: courrier})) }}

    </div>

    {############ RELATED #############}
    {{ render(controller('AppBundle:Courrier:slider', {id: courrier.id})) }}
    {############ REACTIONS #############}
    <div class="journal-comments bw-border-bottom">

        <div id="comments" class="comments-area" style="margin-top: -50px;">


            {% if courrier.reactions|length > 0 %}

                <h2 class="comments-title">
                    {% if courrier.reactions|length > 1 %}
                        {{ courrier.reactions|length }} réactions
                    {% elseif courrier.reactions|length == 1 %}
                        Une seule réaction
                    {% endif %}
                </h2>
            {% endif %}


            <ol class="comment-list">

                {% for reaction in courrier.reactions %}
                    <li id="comment-{{ reaction.id }}" class="comment even thread-even depth-1">
                        <article id="div-comment-{{ reaction.id }}" class="comment-body">
                            <footer class="comment-meta">
                                <div class="comment-author vcard">
                                    {% if reaction.name == 'Administrateur' %}
                                        <img alt="Avatar" src="{{ asset('images/lenervee/Logo-Mockup-3D-150x148.png') }}" class="lazy avatar avatar-64 photo data-lazy-ready" height="64" width="64" style="display: block;">
                                    {% else %}
                                        <img alt="Avatar" src="https://www.gravatar.com/avatar/{{ reaction.gravatarHash }}?s=64&amp;d=mm&amp;r=g" class="lazy avatar avatar-64 photo data-lazy-ready" height="64" width="64" style="display: block;">
                                    {% endif %}
                                    <b class="fn">
                                        {% if reaction.url %}
                                            <a href="{{ reaction.url }}" rel="tooltip" title="Aller sur {{ reaction.url }}" target="_blank">{{ reaction.name }}</a>
                                        {% else %}
                                            {{ reaction.name }}
                                        {% endif %}
                                    </b>
                                    <span class="says">dit&nbsp;:</span>
                                </div><!-- .comment-author -->

                                <div class="comment-metadata">
                                    <a href="#comment-{{ reaction.id }}" rel="tooltip" data-placement="bottom" title="{{ reaction.date|date('d/m/Y à H:i') }}">
                                        <time>
                                            {{ reaction.date|ago }}
                                        </time>
                                    </a>
                                </div><!-- .comment-metadata -->

                            </footer><!-- .comment-meta -->

                            <div class="comment-content">
                                <p>{{ reaction.reaction|nl2br }}</p>
                            </div><!-- .comment-content -->
                        </article><!-- .comment-body -->
                    </li><!-- #comment-## -->
                {% endfor %}

            </ol><!-- .comment-list -->

            <div id="respond" class="comment-respond">

                <h3 id="reply-title" class="comment-reply-title">
                    {% if courrier.reactions|length == 0 %}
                        Soyez le premier à réagir
                    {% else %}
                        Et vous ?
                    {% endif %}
                </h3>
                {% if sent == 1 %}
                <div class="sub-info">
                    <div class="sub-content">
                        <span>Votre commentaire est en cours de modération !</span>
                    </div>
                </div>

                    <span class="paging-space"></span>
                {% else %}
                {{ form_errors(reaction_form) }}
                    {{ form_start(reaction_form, {'attr': {'class': 'comment-form'}}) }}
                        <p class="comment-form-author">{{ form_widget(reaction_form.name) }}</p>
                        <p class="comment-form-email">{{ form_widget(reaction_form.email) }}</p>
                        <p class="comment-form-url">{{ form_widget(reaction_form.url) }}</p>
                        <p>{{ form_widget(reaction_form.reaction) }}</p>
                        <div class="g-recaptcha" data-sitekey="6LcwDXYUAAAAABXYkuyPTwu9kjnIEZHCGDr0DpS3"></div>
                        <p class="form-submit" style="margin-top: 210px;">{{ form_widget(reaction_form.submit) }}</p>
                    {{ form_end(reaction_form) }}
                {% endif %}
            </div><!-- #respond -->




        </div><!-- #comments -->
    </div>
{% endblock %}

{% block js %}
    <script>
        jQuery(function($) {

            /**
             * Popup sur les liens dans le courrier
             */
            $('.post-excerpt blockquote:not(.reponse) a[title]').each(function() {
                var $link = $(this);
                var urlParts = $link.attr('href').split('/');
                if(urlParts.length == 4) {
                    urlParts.splice(0, 1);
                    var data = {
                        'categorie': urlParts[0],
                        'courrier': urlParts[1],
                    };
                    $.ajax({
                        url: '{{ path('courrier_popup') }}',
                        method: 'post',
                        data: data,
                        success: function(courrier) {
                            $link.attr('title', courrier.name + '<br/><span>' + courrier.date + '</span>');
                            $link.popover({
                                trigger: 'hover',
                                placement: 'top',
                                html: true,
                                container: 'body',
                                content: '<img src="/' + courrier.image + '"/><br/>' + courrier.intro,
                            });
                        },
                    });
                }
            });

            /**
             * Apparition/disparition de la scrollBox
             */
            $(window).on('scroll', function() {
                if ($(document).scrollTop() > $('.bw-share').offset().top && $(window).width() > 1366) {
                    $('#dgd_scrollbox-1672').addClass('shown');
                } else {
                    $('#dgd_scrollbox-1672').removeClass('shown');
                }
            });

            /**
             * Disparition de la scrollbox au clic sur la croix
             */
            $('.dgd_stb_box_close').on('click', function() {
                $('#dgd_scrollbox-1672').removeClass('shown');
            });

            /**
            * Supprimer les related articles si la largeur est inférieur à 1120px
            */
            $(window).on('resize', function() {
                if ($(this).width() < 1120) {
                    $('#related-articles').hide();
                } else {
                    $('#related-articles').show();
                }
            });

        });
    </script>
{% endblock %}